* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*Style untuk header*/
  .wraper {
    margin: 20px 20px 20px 20px;
  }
  
  /*Style untuk header*/
  .kepala {
    background-color: rgb(223, 41, 41);
    text-align: center;
    color: white;
    height: 300px;
  }
  
  .menu {
    background-color: rgb(71, 71, 71);
    color: #292020;
    height: 50px;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
  }
  
  .list_menu {
    float: left;
    margin: 0px;
    padding: 10px;
    width: 100%;
  }
  
  .list_menu li {
    padding: 10px;
    height: auto;
    list-style-type: none;
    float: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ffffff;
    width: auto;
    text-align: center;
  }
  
  .list_menu li a {
    text-decoration: none;
  }
  
  .list_menu li a:hover {
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 2px #000;
  }
  
  .list_menu li:hover {
    background-color: #ffffff;
  }
  
  /*Style untuk sidebar*/
  .sisikiri {
    float: left;
    width: 20%;
    height: 600px;
    background: rgb(90, 87, 87);
    padding: 20px;
    color: white;
  }
  
  /*Style untuk list pada sidebar*/
  .sisikiri ul {
    list-style-type: none;
    padding: 0;
  }
  
  /*Style untuk link pada sidebar*/
  .sisikiri a {
    color: yellow;
  }
  
  /*Style untuk konten*/
  .konten {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 600px;
  }
  
  /*Style untuk footer*/
  .kaki {
    clear: both;
    background-color: rgb(71, 71, 71);
    padding: 10px;
    text-align: center;
    color: black;
    height: 100px;
  }